*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;


  --green-color: #27ae60;
  --shadow-light: #CCC  0px 1px 4px;;
  --shadow-medium:  0 0 2px #27ae60;
  --shadow-dark: 0 0 150px #145b32, inset 0 0 10px #27ae60;
}

#root{
  min-height: 100vh;
  display: grid;
}

body{
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1rem;
}